<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ghosted</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" crossorigin="anonymous" />
    
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />

  </head>
  
  <body>
    {% include "flash.html.jinja2" %}
    {% block content %}
    {% endblock content %}

    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
