{% extends "base.html" %}

{% block header %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js" integrity="sha256-JuQeAGbk9rG/EoRMixuy5X8syzICcvB0dj3KindZkY0=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" integrity="sha256-iq5ygGJ7021Pi7H5S+QAUXCPUfaBzfqeplbg/KlEssg=" crossorigin="anonymous" />
  <script src="{{ url_for('static', filename='js/haunt.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="is-hidden" id="ghosts">{{ ghosts }}</div>
  <div class="is-hidden" id="uid">{{ id }}</div>
  <section class="section">
    <div class="columns is-multiline">
      <div class="column is-full-tablet is-one-quarter-desktop">
        <h1 class="title has-text-light">Your ID: {{ ghost_id }}</h1>
        <img src="/ghost/{{ ghost_id }}.png">
        &nbsp;
        <h1 class='title has-text-light is-4'>Steps to Ghosting</h1>
        <div class='content has-text-light'>
          <ol type='1'>
            <li>Click the "Download Ghosts" button below</li>
            <li>Cut your ghost cards out!</li>
            <li>Safely assemble a halloween goodie bag and be sure to include your ghost card!</li>
            <li>Deliver your goodie bag to a friend!</li>
            <li>Watch your ghost network grow!</li>
            <li>Don't forget to display your ghost so the spirits know you have already been visited!</li>
          </ol>
        </div>
        <button class='button is-orange is-fullwidth' onClick='download_ghosts()'>Download Ghosts</button>
      </div>
      <div class="column is-full-tablet is-three-quarters-desktop fill" id="ghostView">
      </div>
    </div>
  </section>
  <iframe id="filedownload" class='is-hidden'></iframe>
{% endblock content %}
