{% extends "base.html.jinja2" %}


{% block content %}
  <section class="section">
    <div class="container">
      <h1 class="title has-text-light">You've Been Ghosted!</h1>
      <div class="content has-text-light">
        <p>
          You're here because you have either been ghosted or you want to start your own haunt! In either case, don't worry! It's super simple!
        </p>
        <p>
          <ul>
            <li>If you've been ghosted, cut out your ghost and place it somewhere visible so that you won't be ghosted again! Then put in your Ghost ID below to print off more ghosts!</li>
          </ul>
        </p>
        <p>
          Once you've printed off your ghosts, make a goodie bag, put the printed note in, and spread the spookiness to your friends!
        </p>
      </div>
      <div class="columns is-multiline">
        <div class="column is-full-mobile">
          <form action="/auth" method="POST">
            <div class="field has-addons">
              <div class="control is-expanded">
                <input class="input" type="text" placeholder="Ghost ID" name="ghost_id">
              </div>
              <div class="control">
                <button class="button is-orange">
                  Click me to get ghosting!
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <p>You can also click <a href="/new">here</a> to start your own ghost network!</p>
    </div>
  </section>
{% endblock content %}
